body.light {
  background-color: white;
  color: #ea0e0e;
}

body.dark {
  background-color: #121212;
  color: #350bf1;
}

.app {
  text-align: center;
  margin-top: 100px;
}

button {
  background-color:antiquewhite;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}